FanClient/App_WebReferences/FanServices/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63233/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfArtistNames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistNames" nillable="true" type="tns:ArtistNames" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistNames" nillable="true" type="tns:ArrayOfArtistNames" />
  <xs:complexType name="ArtistNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistKey" type="xs:int" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistNames" nillable="true" type="tns:ArtistNames" />
  <xs:complexType name="ArrayOfShowsPerVenue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowsPerVenue" nillable="true" type="tns:ShowsPerVenue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowsPerVenue" nillable="true" type="tns:ArrayOfShowsPerVenue" />
  <xs:complexType name="ShowsPerVenue">
    <xs:sequence>
      <xs:element minOccurs="0" name="VenueShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueShowTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowsPerVenue" nillable="true" type="tns:ShowsPerVenue" />
  <xs:complexType name="ArrayOfShowsPerArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowsPerArtist" nillable="true" type="tns:ShowsPerArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowsPerArtist" nillable="true" type="tns:ArrayOfShowsPerArtist" />
  <xs:complexType name="ShowsPerArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistVenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowsPerArtist" nillable="true" type="tns:ShowsPerArtist" />
  <xs:complexType name="ArrayOfMyShowDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyShowDate" nillable="true" type="tns:MyShowDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyShowDate" nillable="true" type="tns:ArrayOfMyShowDate" />
  <xs:complexType name="MyShowDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTicketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyShowDate" nillable="true" type="tns:MyShowDate" />
</xs:schema>