FanClient/App_WebReferences/FanServices/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63233/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63233/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63233/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:63233/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetVenueNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueNames" />
  </wsdl:message>
  <wsdl:message name="IService_GetVenueNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetArtistNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNames" />
  </wsdl:message>
  <wsdl:message name="IService_GetArtistNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowNames" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVenueShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueShows" />
  </wsdl:message>
  <wsdl:message name="IService_GetVenueShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetArtistShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistShows" />
  </wsdl:message>
  <wsdl:message name="IService_GetArtistShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterFan_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFan" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterFanResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FanLogin" />
  </wsdl:message>
  <wsdl:message name="IService_FanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddFanArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtist" />
  </wsdl:message>
  <wsdl:message name="IService_AddFanArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFanArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFanArtists" />
  </wsdl:message>
  <wsdl:message name="IService_GetFanArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFanArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFanShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFanShows" />
  </wsdl:message>
  <wsdl:message name="IService_GetFanShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFanShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByDate" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetVenueNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVenueNames" message="tns:IService_GetVenueNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVenueNamesResponse" message="tns:IService_GetVenueNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetArtistNames" message="tns:IService_GetArtistNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetArtistNamesResponse" message="tns:IService_GetArtistNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetShowNames" message="tns:IService_GetShowNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetShowNamesResponse" message="tns:IService_GetShowNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenueShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVenueShows" message="tns:IService_GetVenueShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVenueShowsResponse" message="tns:IService_GetVenueShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetArtistShows" message="tns:IService_GetArtistShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetArtistShowsResponse" message="tns:IService_GetArtistShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterFan" message="tns:IService_RegisterFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterFanResponse" message="tns:IService_RegisterFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FanLogin" message="tns:IService_FanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FanLoginResponse" message="tns:IService_FanLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFanArtist" message="tns:IService_AddFanArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFanArtistResponse" message="tns:IService_AddFanArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFanArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFanArtists" message="tns:IService_GetFanArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFanArtistsResponse" message="tns:IService_GetFanArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFanShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFanShows" message="tns:IService_GetFanShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFanShowsResponse" message="tns:IService_GetFanShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetShowsByDate" message="tns:IService_GetShowsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetShowsByDateResponse" message="tns:IService_GetShowsByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVenueNames">
      <soap:operation soapAction="http://tempuri.org/IService/GetVenueNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistNames">
      <soap:operation soapAction="http://tempuri.org/IService/GetArtistNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowNames">
      <soap:operation soapAction="http://tempuri.org/IService/GetShowNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenueShows">
      <soap:operation soapAction="http://tempuri.org/IService/GetVenueShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistShows">
      <soap:operation soapAction="http://tempuri.org/IService/GetArtistShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterFan">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <soap:operation soapAction="http://tempuri.org/IService/FanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <soap:operation soapAction="http://tempuri.org/IService/AddFanArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFanArtists">
      <soap:operation soapAction="http://tempuri.org/IService/GetFanArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFanShows">
      <soap:operation soapAction="http://tempuri.org/IService/GetFanShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByDate">
      <soap:operation soapAction="http://tempuri.org/IService/GetShowsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:63233/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>